.keywords{
    display: inline-block;
    background-color: black;
    color: yellow;
    border-radius: 5px;
    margin: 3%;
}
.title{
    color: blue;
}
.addr{
    color: gray;
}
.TT{
    display: flex;
}

.sp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sp2 {
  width: 50%; 
  margin-bottom: 20px;
}